/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.form-gh{
  background-color: #3a3058;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: center;
  width:80%;
  margin-top: 10px;
  input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid magenta;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1rem;
    width: 40vw;
  }
  button{
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-left: 1rem;
    background-color:transparent;
    cursor: pointer;
    padding: 0.5rem;
  }
  button:hover{
    border: 1px solid #ff00ff;
    background: magenta;
  }

}






